{% include 'header.html' %}

<form method="post" action="/store" enctype="multipart/form-data">    
    
    <div class="card">
        <div class="card-header">
            Ingresar mpleados
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del empleado</h5>
            <p class="card-text">
                <div class="form-group">
                  <label for="txtNombre">Nombre:</label>
                  <input type="text" name="" id="txtNombre" class="form-control" placeholder="" aria-describedby="helpId" name="txtNombre">
                  <small id="helpId" class="text-muted">Nombre y apellido completos</small>
                </div>
                <br>
                <div class="form-group">
                    <label for="txtCorreo">Correo:</label>
                    <input id="txtCorreo" class="form-control" type="text" name="txtCorreo">
                </div>
                <br>
                <div class="form-group">
                    <label for="txtFoto">Foto:</label>
                    <input id="txtFoto" class="form-control" type="file" name="txtFoto">
                </div>
                <br><br>
                <div class="btn-group" role="group" aria-label="Button group">
                    <input type="submit" value="Agregar">
                    <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>
                </div>
            </p>
        </div>
    </div>

    

</form>

{% include 'footer.html' %}